---
import BaseLayout from "../layouts/BaseLayout.astro";

// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      blogId: content.id,
    },
  }));
}

//記事の詳細情報を取得
const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);


---

<BaseLayout title={blog.title}>
    <section class="max-w-screen-lg mx-auto w-11/12 py-20 md:py-40 mt-16">
    <img src={blog.thumbnail.url} alt={blog.thumbnail.alt} />
    <h1 class="text-4xl capitalize tracking-wide mb-2 font-extrabold">{blog.title}</h1>
    <div class="" set:html={blog.content}></div>
    <ul class="flex p-5 pt-0 gap-4 flex-wrap">
        <li class=" bg-gray-200 px-6 py-1 rounded-full  text-gray-500 text-sm tracking-wider">{blog.tag}</li>
    </ul>
<a href={blog.webSiteUrl} target="_blank" class="btn">Webサイトに遷移</a>

</section>

</BaseLayout>
