---
import BaseLayout from '../layouts/BaseLayout.astro';
import SectionHeading from '../components/SectionHeading.astro';
import Contact from '../components/Contact.astro';
import { getBlogs, getBlogDetail } from "../library/microcms";
import { Image } from 'astro:assets';
import mainVisualImage from '../assets/mainVisualImage.jpg';

const response = await getBlogs({ fields: ['id', 'title', 'thumbnail','content','webSiteUrl','toolTag'] });
---

<BaseLayout>
<section class="mt-40" >
	<div class="mainVisualImage">
		<Image src={mainVisualImage} alt="赤津優弥です" class="w-1/6 m-auto rounded-full mb-6" />
	</div>
	<div class="capitalize lexend">
		<h1 class="text-4xl lg:text-5xl text-center mb-2 font-bold">yuya akatsu</h1>
		<p class="text-center">web designer</p>
	</div>
	<div class="scroll">
	  </div>
	  <style>
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.scroll {
    padding-top: 60px;
    position: relative;
    text-align: center;
}

.scroll::before {
    animation: scroll 2s infinite;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    content: "";
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}

.lexend {
    font-family: "Lexend", sans-serif;
    font-style: normal;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(-45deg) translate(0, 0);
    }

    40% {
        opacity: 1;
    }

    80% {
        opacity: 0;
        transform: rotate(-45deg) translate(-20px, 20px);
    }

    100% {
        opacity: 0;
    }
}
	  </style>

</section>
<section class="max-w-screen-lg mx-auto w-11/12 py-20 md:py-40 mt-16" id="works">
	<SectionHeading title="works" id="SectionHeading"/>
	  <ul class="grid grid-cols-1  gap-12">
		{
		  response.contents.map((content: any) => (
			<li class="js-listItem container bg-white rounded-lg">
			  <a href={content.webSiteUrl} target="_blank">
				<div class="overflow-hidden">
				<img src={content.thumbnail.url.includes('?') ? content.thumbnail.url + '&fm=webp' : content.thumbnail.url + '?fm=webp'} alt={content.title} class="transition-transform duration-300 ease-in-out transform hover:scale-110 w-full"/></div>
				<div class="p-5">
				<h3 class="mb-2 text-2xl font-bold text-gray-900">{content.title}</h3>
            	<div class="mb-3 text-gray-700" set:html={content.content}>
            	</div>
        		</div>
			<ul class="tag flex p-5 pt-0 gap-4 flex-wrap">
			  {content.toolTag && content.toolTag[0].tag.map((tag) => (
				<li class=" bg-gray-100 px-6 py-1 rounded-full  text-black text-sm tracking-wider lexend">{tag}</li>
			  ))}
			</ul>
			  </a>
			</li>
		  ))
		}
	  </ul>
</section>
<section class=" text-white bg-gray-400 py-20 md:py-40" id="profile">
	<div class="max-w-screen-lg mx-auto w-11/12">
		<SectionHeading title="profile"/>
		<div class=" leading-loose">
			<p class="pb-6">4月11日生まれ / O型 /埼玉県出身/宮城県在住</p>
			<p class="pb-6">Webデザインの専門学校を卒業後、地方暮らしに憧れを抱き、
				<br>
				どうせ住むならと｢山村･豪雪･過疎｣三重苦の地域に移住を決意。</p>
			<p class="pb-6">コンサルティングファームのWebデザイナーとして新卒入社し、
<br>
				築50年の空き家で在宅ワークを開始する。</p>
			<p class="pb-6">冬は最高気温が氷点下の毎日。何度も水道が凍り、
<br>
				寒さで眠れない夜を過ごすも2度の越冬に成功。</p>
			<p class="pb-6">降雪により1年の半分以上愛車のバイクに乗れない事情から、
				<br>
				泣く泣くあたたかい地域を目指して新天地へ。</p>
			<p class="pb-6">フリーのWebデザイナーとして活動を始め今に至る。</p>
			<p class="">趣味は自炊と散歩。</p>
		</div>
	</div>

</section>
<section class="md:max-w-screen-lg mx-auto w-11/12  py-20 md:py-40" id="contact">
	<SectionHeading title="contact"/>
	<Contact />
</section>
</BaseLayout>